Repository modelcontextprotocol/inspector, pull requests merged in 2025-08, with the labels that each got.

#615 OAuth Flow: generate random state parameter in oauth state machine
  client/src/lib/oauth-state-machine.ts
Labels: auth

#673 fix: support FastMCP union types in tool parameter forms
  client/src/components/DynamicJsonForm.tsx
  client/src/components/ToolsTab.tsx
  client/src/components/__tests__/DynamicJsonForm.test.tsx
  client/src/utils/__tests__/schemaUtils.test.ts
  client/src/utils/jsonUtils.ts
  client/src/utils/schemaUtils.ts
Labels: tools

#702 Bump auth SDK to use Improved AS Discovery
  client/src/components/__tests__/AuthDebugger.test.tsx
  client/src/lib/oauth-state-machine.ts
  package-lock.json
  package.json
Labels: dependencies, auth
